html {
	box-sizing: border-box;
	min-height: 100vh;
}

*, *:before, *:after, input[type=search] {
	box-sizing: inherit;
}

a {
	color: var(--color-link);

	&:visited {
		color: var(--color-visited);
	}
}

body {
	min-height: 100vh;
	background-color: var(--color-body-background);
	background: linear-gradient(0deg,
		var(--color-body-background-gradient-1) 0%,
		var(--color-body-background-gradient-2) 50%,
		var(--color-body-background-gradient-3) 100%);
	background-attachment: fixed;
	color: var(--color-text);
	font-family: sans-serif, serif;

	> div {
		margin: 0 auto;
		padding: 1rem;
		width: 50%;
		min-height: 100vh;
		background-color: var(--color-accent-background);

		@media all and (max-width: map-get($breakpoints, 'widescreen')) {
			width: 70%;
		}

		@media all and (max-width: map-get($breakpoints, 'desktop')) {
			width: 85%;
		}

		@media all and (max-width: map-get($breakpoints, 'mobile')) {
			width: 100%;
		}
	}
}

article {
	margin-top: 1rem;
	margin-bottom: 1rem;

	&:first-child {
		margin-top: 2rem;
	}

	&:last-child {
		margin-bottom: 2rem;
	}

	&:not(:last-child) {
		border-width: 0;
		border-bottom: var(--border-width);
		border-style: var(--border-style);
		border-color: var(--color-border);
	}
}

h1, h2, h3, h4, h5, h6, .logo {
	margin-top: 1rem;
	margin-bottom: 1rem;

	&:first-child {
		margin-top: 0;
	}
}

h1, .logo {
	font-size: var(--font-size-1);
	font-weight: bold;
}

h1 + h2, .logo + .tagline {
	margin-top: -.5rem;
	margin-bottom: 1.5rem;
}

h2, .tagline {
	font-size: var(--font-size-2);
	font-weight: bold;
}

.logo, .tagline {
	display: block;
	text-align: center;
}

h3 {
	font-size: var(--font-size-3);
	font-weight: bold;
}

h4 {
	font-size: var(--font-size-4);
	font-weight: bold;
}

h5 {
	font-size: var(--font-size-5);
	font-weight: bold;
}

h6 {
	font-size: var(--font-size-6);
	font-weight: bold;
}

hr {
	border-width: 0;
	border-bottom: var(--border-width);
	border-style: var(--border-style);
	border-color: var(--color-border);
}

img {
	max-width: 100%;
}

nav {
	ul {
		@include inlineList();

		font-weight: bold;
	}
}

p {
	line-height: 1.5;

	&:not(:last-child) {
		margin-top: 0;
		margin-bottom: 1rem;
	}
}

li {
	&:not(:last-child) {
		margin-bottom: .5rem;
	}
}

ul {
	&.breadcrumbs {
		font-size: var(--font-size-9);

		@include inlineList('\003E');
	}
}
