$breakpoints: (
	'mobile': 640px,
	'desktop': 1024px,
	'widescreen': 1680px
);

$colors: (
	'body-background': #FFFFFF,
	'accent-background': #F5F5F5,
	'text': #000000
);

$darkModeColors: (
	'body-background': #555,
	'accent-background': #000,
	'text': #FFF
);

$fontSizes: (
	'1': '2.4rem',
	'2': '2.2rem',
	'3': '2rem',
	'4': '1.8rem',
	'5': '1.6rem',
	'6': '1.4rem',
	'7': '1.2rem',
	'8': '1rem',
	'9': '.8rem',
	'10': '.6rem'
);

:root {
	@each $name, $color in $colors {
		--color-#{$name}: #{$color};
	}

	@each $name, $breakpoint in $breakpoints {
		--breakpoint-#{$name}: #{$breakpoint};
	}

	@each $number, $size in $fontSizes {
		--font-size-#{$number}: #{$size};
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		@each $name, $color in $darkModeColors {
			--color-#{$name}: #{$color};
		}
	}
}