$breakpoints: (
	'mobile': 640px,
	'desktop': 1024px,
	'widescreen': 1680px
);

$colors: (
	'body-background': #FFF,
	'accent-background': transparentize(#FFF, .25),
	'body-background-gradient-1': #FA8,
	'body-background-gradient-2': #FE8,
	'body-background-gradient-3': #AFF,
	'body-background-gradient-4': #8CF,
	'text': #000,
	'link': #0AF,
	'visited': #51B,
);

$darkModeColors: (
	'body-background': #000,
	'accent-background': transparentize(#000, .25),
	'body-background-gradient-1': #B20,
	'body-background-gradient-2': #903,
	'body-background-gradient-3': #70A,
	'body-background-gradient-4': #408,
	'text': #FFF,
	'link': #4BF,
	'visited': #56F
);

$fontSizes: (
	'1': '2.4rem',
	'2': '2.2rem',
	'3': '2rem',
	'4': '1.8rem',
	'5': '1.6rem',
	'6': '1.4rem',
	'7': '1.2rem',
	'8': '1rem',
	'9': '.8rem',
	'10': '.6rem'
);

:root {
	@each $name, $color in $colors {
		--color-#{$name}: #{$color};
	}

	@each $name, $breakpoint in $breakpoints {
		--breakpoint-#{$name}: #{$breakpoint};
	}

	@each $number, $size in $fontSizes {
		--font-size-#{$number}: #{$size};
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		@each $name, $color in $darkModeColors {
			--color-#{$name}: #{$color};
		}
	}
}

@media all and (max-width: map-get($breakpoints, 'desktop')) {
	:root {
		@each $number, $size in $fontSizes {
			--font-size-#{$number}: calc(#{$size} * 0.75);
		}
	}
}